
// Colour Pallette ----------

$CXSlight      : #ffffff;
$CXSfooter     : #414141;
$CXSdark       : #222222;
$CXSdarkBlue   : #003a69; 
$CXSlightBlue  : #00aff2;
$CXSwheatLight : #f3f2e5;
$CXSwheatMid   : #eaeadd;
$CXSwheatDark  : #c7c8bf;   
$CXSyellow     : #fedf00;